.InfoCard {}

.wrapper {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.value {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.09px;
  text-align: left;
  color: var(--main-color);
}

.description {
  margin-top: 6px;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.51px;
  letter-spacing: -0.15399999916553497px;
  text-align: left;
  color: var(--second-color);
}
