*,
*::before,
*::after {
  font-family: SF Pro Display, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}

* {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #ddd;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 20px;
    border: 1px solid #ddd;
  }
}

:root {
  --main-color: #FCFCFC;
  --second-color: rgba(255, 255, 255, 0.6);
  --bg-app-color: #1e1e1e;
  --bg-color: #1a1a1a;
  --color-accent-blue: #007AFF;
  --color-accent-primary: rgba(0, 152, 235, 1);
  --color-foreground-primary: rgba(46, 46, 46, 1);
}

body {
  background-color: var(--bg-app-color);
  color: var(--main-color);
}

.container {
  max-width: 400px;
  width: 100%;

  background-color: var(--bg-color);
}